.navbar{
background-color: #dcd0ff;
}
.btn{
    background-color: blueviolet;
}

.accordion {
  background-color: #6b73db;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #dcd0ff;
}

.accordion:after {
  content: '\02795';
  color: rgb(208, 160, 216);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.container1{
      background-color: #dcd0ff;
      color: white; 
}
.p {
  text-align: center;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dcd0ff;
  color: white;
  text-align: center;
}
